{
  "name": "ट्रायंगल",
  "short_name": "Triangle",
  "start_url": "YOUR_RENDER_LINK_HERE", 
  "display": "standalone",
  "background_color": "#000080",
  "theme_color": "#FFD700",
  "icons": [
    {
      "src": "icon.png",
      "sizes": "512x512",
      "type": "image/png"
    }
  ]
}